<h2 style="font-size: 20px;color: #000000;text-align: left" class="vc_custom_heading">PROMO TOYOTA JAKARTA TERBARU</h2>
<section class="vc_cta3-container">
	<div class="vc_general vc_cta3 vc_cta3-style-classic vc_cta3-shape-rounded vc_cta3-align-left vc_cta3-color-classic vc_cta3-icon-size-md">
        <div class="vc_cta3_content-container">
            <div class="vc_cta3-content">
                    <p>
						<a href="#">
							<img data-attachment-id="898"
                                data-permalink="https://www.toyotadjakarta.com/797-2/12-600-x-667#main"
                                data-orig-file="{{ page.image.make().url() }}"
                                data-orig-size="600,667"
                                data-comments-opened="1"
                                data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;1&quot;}"
                                data-image-title="promo toyota jakarta"
                                data-image-description=""
                                data-medium-file="{{ page.image.make().url() }}"
                                data-large-file="{{ page.image.make().url() }}"
                                class="alignleft wp-image-898"
                                src="{{ page.image.make().url() }}"
                                alt="promo toyota jakarta" width="240"
                                height="267"
                                srcset="{{ page.image.make().url() }} 270w, {{ page.image.make().url() }} 600w"
                                sizes="(max-width: 240px) 100vw, 240px"/>
						</a>
                    </p>
                    {{ page.content|raw }}
                </div>
            </div>
        </div>
    </section>